body {
	background-color: #e6ffff;/*lightblue*/
	height: 100;
	margin: 5;
	text-align: left;
	width: 100;
}


h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color:#645f4c;
	font-size: 4em;
	text-align: center;
	}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	background-color: #645f4c;
	color: #fff;
}
h3{
	font-family: Tahoma, Geneva, sans-serif;
	
	}
h4 {
	font-family: Tahoma, Geneva, sans-serif;
	
	font-weight: lighter;
	
}
h5 {
	font-family: Tahoma, Geneva, sans-serif;
		}

p {
	font-family: Tahoma, Geneva, sans-serif;
	

}

#content-contact {
	text-align: center;
	font-size: 14pt;
	}

a{
	text-decoration: none;
	color:#aaa;
}


#header {
    
    color:#e6ffff;/*lightblue*/
    text-align: center;
    padding:5px;
}

#content-summary {
	
	width: 100;
	text-align: center;
	font-size: 12pt;
	
}

#content-professional {
	
	text-align: left;
}

#content-education{
	
	text-align: left;
}

#content-other {

	text-align: left;
}





