<!doctype html>
<html>


<strong>Ingredients</strong>
<p>

The main ingredients of Nutella are sugar, palm oil, and hazelnut, followed by cocoa solids and skimmed milk.
In the United States, Nutella contains soy products.
Nutella is marketed as "hazelnut cream" in many countries. Under Italian law, it cannot be labeled as a "chocolate cream", as it does not meet minimum cocoa solids concentration criteria.
Ferrero consumes 25 percent of the global supply of hazelnuts.

The traditional Piedmont recipe, Gianduja, was a mixture containing approximately 71.5% hazelnut paste and 19.5% chocolate. It was developed in Piedmont,
Italy after taxes on cocoa beans hindered the manufacture and distribution of conventional chocolate.</p>
<a href="index.html">Home</a>
</html>
