
<strong>Processing</strong>
<p>
Nutella is a form of a chocolate spread. Therefore, the production process for this food item is very similar to a generic production of chocolate spread.
Nutella is made from sugar, modified palm oil, hazelnuts, cocoa, skimmed milk powder, whey powder, lecithin, and vanillin.

The process of making chocolate spread begins with the extraction of cocoa powder from the cocoa bean.
These cocoa beans are harvested from cocoa trees and are left to dry for about ten days before being shipped for processing.
Typically cocoa beans contain approximately 50 percent of cocoa butter; therefore, they must be roasted to reduce the cocoa bean into a liquid form.
This step is not sufficient for turning cocoa bean into a chocolate paste because it solidifies at room temperature, and would not be spreadable.
After the initial roast, the liquid paste is sent to presses, which are used to squeeze the butter out of the cocoa bean.
The final products are round discs of chocolate made of pure compressed cocoa. The cocoa butter is transferred elsewhere so it can be used in other products.</p>

<p>
The second process involves the hazelnuts.
Once the hazelnuts have arrived at the processing plant, a quality control is issued to inspect the nuts so they are suitable for processing.
A guillotine is used to chop the nuts to inspect the interior. After this process, the hazelnuts are cleaned and roasted.
A second quality control is issued by a computer-controlled blast of air, which removes the bad nuts from the batch. This ensures that each jar of Nutella is uniform in its look and taste.
Approximately 50 hazelnuts can be found in each jar of Nutella, as claimed by the company.</p>

<p>
The cocoa powder is then mixed with the hazelnuts along with sugar, vanillin and skim milk in a large tank until it becomes a paste-like spread.
Modified palm oil is then added to help retain the solid phase of the Nutella at room temperature, which substitutes for the butter found in the cocoa bean.
In addition, whey powder is added to the mix because it acts as a binder for the paste. Whey powder is an additive commonly used in spreads to prevent the coagulation of the product because it stabilizes the fat emulsions.
Similarly to whey powder lecithin, which is a form of a fatty substance found in animal and plant tissues, is used to emulsify as it promotes homogenized mixing of the different ingredients allowing the paste to become spreadable.
It also aids the lipophilic properties of the cocoa powder which, again, keeps the product from separating.
Vanillin is added to enhance the sweetness of the chocolate. The finished product is then packaged.</p>
<a href="index.html">Home</a>
