<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oh, You Nutella!</title>
    <link rel="canonical" href="en.wikipedia.org/wiki/Nutella" />
  </head>
  <body>


<h1>Production</h1>
<p><i>Nutella</i> is produced in various facilities.</p>

<p>In the North American market, it is produced at a plant in Brantford,
Ontario in Canada and most recently in San José Iturbide, Guanajuato, Mexico.
For Australia and New Zealand, <i>Nutella</i>  has been manufactured in Lithgow,
New South Wales since the late 1970s.
Two of the four Ferrero plants in Italy produce <i>Nutella</i> , in Alba, Piedmont,
and in Sant'Angelo dei Lombardi in Campania.
In France, a production facility is located in Villers-Écalles.
For Eastern Europe (including Southeast Europe, Poland, Turkey, Czech Republic
and Slovakia) and South Africa, it is produced in Warsaw and Manisa.
For Germany and northern Europe, <i>Nutella</i>  is produced at the Ferrero
plant in Stadtallendorf, which has been in existence since 1956.
Ferrero also has a plant in Brazil, which supplies the Brazilian market, with
part of the production being exported overseas.</p>

<a href="index.html">Home</a>
</body>
</html>
