<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oh, You Nutella!</title>
    <link rel="canonical" href="en.wikipedia.org/wiki/Nutella" />
  </head>
<body>
<strong>Storage</strong>
<p>
The label states that Nutella does not need to be refrigerated. This is because the large quantity of sugar in the product acts as a preservative to prevent the growth of microorganisms.
More specifically the sugar acts as a preservative by binding the water in the product, which prevents the microorganisms from growing.
In fact, refrigeration causes Nutella to harden because it contains fats from the hazelnuts. When nut fats are placed in cold temperatures they become too hard to spread.
Hazelnuts contain almost 91 percent monounsaturated fat, which are known to be liquid at room temperature and solidify at refrigerator temperatures.
Room temperature allow the product to have a smooth and spreadable consistency because the monounsaturated oils from the hazelnut are liquid at this state.
In addition, the palm oil used in Nutella does not require refrigeration because it contains high amounts of saturated fat and resists becoming rancid.
Therefore, Nutella can be stored at room temperature in the cabinet without going rancid before the best before date.
The remaining ingredients in Nutella, such as cocoa, skimmed milk powder, soy lecithin, and vanillin also do not require refrigeration.
Hence, Nutella does not need to be put in the refrigerator after opening.</p>
</body>

</html>
