/*Nutella color pallette by  DandL
#CD3E40,#9B5740,#6E5036,#DC843D,#ABC363

*/
body{
  padding-top:4em;
  background-color:#6E5036;
  font-family: Helvetica;
  /*font-weight: bold;*/
  height:100%;
  color: white;
}

p{
  font-family:"Helvetica Neue", Ariel, sans-serif;
  color:#fff;

}


section {

}

.portfolio-item{
  /*margin-bottom: 25px;
  margin-left: 12em;
  margin-right: 12em;*/
}

.headshot-item{
  border: 1em solid red;
  border-radius: 5em;
}
.headshot-item image-responsive{
  border: 1em solid green;
  border-radius: 5em;
}
#nav {
  background-color:#CD3E40;

}

#footer p{
    color:#fff;
    margin: 50px 0;
    text-align: center;
    background-color: #ABC363;
    /*text-shadow: 1px 2px 0 #000;*/
}

.aside {
  border:2px red;
  /*border-color: red;
  border-width: thin;
  text-indent: inherit;*/



}
