<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">




  <ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="views/ingredients.html">Ingredients</a></li>
  <li><a href="views/nutrition.html">Nutrition</a></li>
  <li><a href="views/processing.html">Processing</a></li>
  <li><a href="views/production.html">Production</a></li>
  <li><a href="views/storage.html">Storage</a></li>
  <li><a href="views/recipes.html">Recipes</a></li>
  </ul>
    </div>
<div>

<p>
  "Hey"
</p>



  </div>
</div>
  <!--  -->
</nav>
