<div class="aboutDiv row">
  <div class="col-md-6 headshotDiv">
    <img class="img-responsive" src="assets/Tracey_red.jpg" alt="photo of Tracey herself. what a looker!" />
  </div>

  <div class="col-lg-6 aboutText">
    <h3>Tracey Zavadil | Developer, Musician, Writer, and Nutella enthusiast</h3>
    <p>Tracey studied vocal performance at Northwestern and DePaul Universities.
      Currently a member of the Minnesota Opera Chorus, she has appeared with Mixed Precipitation Opera,
      The Dead Composers’ Society, Music Theatre Louisville, Center Stage Theatre, Kentucky Opera,
      Light Opera Works, Toledo Opera, Toledo Symphony, the Mansfield Symphony, and the Chicago Symphony Chorus.
      Tracey maintains an active voice and piano studio, and lives in Minneapolis with her three kids Emily, Fletcher, and Megan.
    </p>
  </div>
</div>
