<div class="container">
  <main role="main">
    <h1 class="page-header">shinybirdy studios</h1>
      <section id ="shinybirdy_home">
        <div class="row">
          <div class="col-lg-12">
            <h2>Tracey Zavadil | Developer, Musician, Writer, and Nutella enthusiast</h2>



          <h4>Tracey Zavadil studied vocal performance at Northwestern and DePaul Universities.
            Currently a member of the Minnesota Opera Chorus, she has appeared with Mixed Precipitation Opera,
            The Dead Composers’ Society, Music Theatre Louisville, Center Stage Theatre, Kentucky Opera,
            Light Opera Works, Toledo Opera, Toledo Symphony, the Mansfield Symphony, and the Chicago Symphony Chorus.
            Ms. Zavadil maintains an active voice and piano studio, and her three kids Emily, Fletcher, and Megan.</h4>
          </div>
        </div>
      </section>

  </main>
</div>
