<div class="container">

  <div class="row">

      <div class="col-lg-12">

        <h1 class="page-header">Nutella</h1>

          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Nutella_ak.jpg/440px-Nutella_ak.jpg" alt="A picture of an open Nutella jar.whoa. " />


        <p><strong>Nutella (/nuːˈtɛlə/; Italian pronunciation: [nuˈtɛlla])</strong>
        <i>is the brand name of a sweetened hazelnut cocoa spread.</i>
        <p>Manufactured by the Italian company Ferrero, it was introduced to the
        market in 1964.  </p>

        <p>Pietro Ferrero, who owned a bakery in Alba, Piedmont, an area known for the
        production of hazelnuts,
        sold an initial batch of 300 kilograms (660 <abbr aria-label="pounds">lb</abbr>)
        of <i>"Pasta Gianduja"</i> in 1946. At the time, there was very little chocolate
        because cocoa was in short supply due to World War II rationing.
        So Ferrero used hazelnuts, which are plentiful in the Piedmont region of
        Italy (northwest), to extend the chocolate supply.
        This <i>"Pasta Gianduja"</i> was originally a solid block, but Ferrero started to sell
        a creamy version in 1951 as "Supercrema".</p>

        <p>In 1963, Ferrero's son Michele Ferrero revamped <i>Supercrema</i> with the
        intention of marketing it throughout Europe. Its composition was modified and
        it was renamed <strong>"Nutella"</strong>.
        The first jar of <i>Nutella</i> left the factory in Alba on <time>20 April
        1964</time>. The product was an instant success and remains widely popular.

        In 2012, French senator Yves Daudigny proposed a tax increase on palm oil
        from €100 to €400 per metric tonne. At 20 percent, palm oil is one of
        <i>Nutella's</i> main ingredients and the tax was dubbed
        <i>"the Nutella tax"</i> in the media.</p>

        <aside><h3>World Nutella Day is February 5.</h3></aside>

        <p>On 14 May 2014, Poste italiane issued a 50th anniversary <i>Nutella</i>
        commemorative stamp. The 70 Euro cent stamp was designed by Istituto
        Poligrafico e Zecca dello Stato and features a jar of <i>Nutella</i>
        on a golden background.
        Ferrero held a <i>Nutella</i> Day on 17 and 18 May to celebrate the anniversary.</p>

    </div>

  </div>

</div>
