<div class="container">
  <main role="main">
    <h1 class="page-header">Oh, You Nutella!</h1>
      <section id ="aboutNutella">
        <div class="row">
          <div class="col-lg-12">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Nutella_ak.jpg/440px-Nutella_ak.jpg" alt="A picture of an open Nutella jar.whoa." class="image"/>

            <h2><strong>Nutella (/nuːˈtɛlə/; Italian pronunciation: [nuˈtɛlla])</strong></h2>

            <p>Manufactured by the Italian company Ferrero, Nutella was introduced to the
            market in 1964.  </p>

            <p>Pietro Ferrero, who owned a bakery in Alba, Piedmont, an area known for the
            production of hazelnuts,
            sold an initial batch of 300 kilograms (660 <abbr aria-label="pounds">lb</abbr>)
            of <i>"Pasta Gianduja"</i> in 1946. At the time, there was very little chocolate
            because cocoa was in short supply due to World War II rationing.
            So Ferrero used hazelnuts, which are plentiful in the Piedmont region of
            Italy (northwest), to extend the chocolate supply.
            This <i>"Pasta Gianduja"</i> was originally a solid block, but Ferrero started to sell
            a creamy version in 1951 as "Supercrema".</p>

            <p>In 1963, Ferrero's son Michele Ferrero revamped <i>Supercrema</i> with the
            intention of marketing it throughout Europe. Its composition was modified and
            it was renamed <strong>"Nutella"</strong>.
            The first jar of <i>Nutella</i> left the factory in Alba on <time>20 April
            1964</time>. The product was an instant success and remains widely popular.

            In 2012, French senator Yves Daudigny proposed a tax increase on palm oil
            from €100 to €400 per metric tonne. At 20 percent, palm oil is one of
            <i>Nutella's</i> main ingredients and the tax was dubbed
            <i>"the Nutella tax"</i> in the media.</p>

            <div class="aside">

            <aside><h3>World Nutella Day is February 5.</h3></aside>
          </div>

            <p>On 14 May 2014, Poste italiane issued a 50th anniversary <i>Nutella</i>
            commemorative stamp. The 70 Euro cent stamp was designed by Istituto
            Poligrafico e Zecca dello Stato and features a jar of <i>Nutella</i>
            on a golden background.
            Ferrero held a <i>Nutella</i> Day on 17 and 18 May to celebrate the anniversary.</p>

        </div>
      </div>
    </section>

    <section id="ingredients">

       <h1 class="page-header">Ingredients</h1>
       <p>The main ingredients of <i>Nutella</i> are sugar, palm oil, and hazelnut,
       followed by cocoa solids and skimmed milk.

       In the United States, <i>Nutella</i> contains soy products.
       <i>Nutella</i> is marketed as "hazelnut cream" in many countries. Under Italian law,
       it cannot be labeled as a "chocolate cream", as it does not meet minimum cocoa
       solids concentration criteria.</p>

       <aside><h3>Ferrero consumes 25% of the global supply of hazelnuts.</h3></aside>

       <p>The traditional Piedmont recipe, Gianduja, was a mixture containing
       approximately 71.5% hazelnut paste and 19.5% chocolate.
       It was developed in Piedmont, Italy after taxes on cocoa beans hindered the
       manufacture and distribution of conventional chocolate.</p>

       <a href="#home">Home</a>

    </section>
    <section id="nutrition">
      <h1 class="page-header">Nutrition</h1>
      <p>
      <i>Nutella</i> contains 10.5 percent of saturated fat and 58% of processed
      sugar by weight.A two-tablespoon (37 gram) serving of <i>Nutella</i> contains
      200 calories including 99 calories from 11 grams of fat
      (3.5g of which are saturated) and 80 calories from 21 grams of sugar.
      The spread also contains 15 mg of sodium and 2g of protein per serving
      (for reference a Canadian serving size is 1 tablespoon or 19 grams).</p>
      <a href="#home">Home</a>
    </section>
    <section id="processing">
      <h1 class="page-header">Processing</h1>
      <p>
      <i>Nutella</i> is a form of a chocolate spread. Therefore, the production
      process for this food item is very similar to a generic production of chocolate
      spread.
      <i>Nutella</i> is made from sugar, modified palm oil, hazelnuts, cocoa, skimmed
      milk powder, whey powder, lecithin, and vanillin.

      The process of making chocolate spread begins with the extraction of cocoa
      powder from the cocoa bean.These cocoa beans are harvested from cocoa trees
      and are left to dry for about ten days before being shipped for processing.
      Typically cocoa beans contain approximately 50 percent of cocoa butter;
      therefore, they must be roasted to reduce the cocoa bean into a liquid form.
      This step is not sufficient for turning cocoa bean into a chocolate paste
      because it solidifies at room temperature, and would not be spreadable.
      After the initial roast, the liquid paste is sent to presses, which are used
      to squeeze the butter out of the cocoa bean.
      The final products are round discs of chocolate made of pure compressed cocoa.
      The cocoa butter is transferred elsewhere so it can be used in other
      products.</p>

      <p>
      The second process involves the hazelnuts.
      Once the hazelnuts have arrived at the processing plant, a quality control is
      issued to inspect the nuts so they are suitable for processing.
      A guillotine is used to chop the nuts to inspect the interior. After this
      process, the hazelnuts are cleaned and roasted.
      A second quality control is issued by a computer-controlled blast of air,
      which removes the bad nuts from the batch. This ensures that each jar of
      <i>Nutella</i> is uniform in its look and taste.
      Approximately 50 hazelnuts can be found in each jar of <i>Nutella</i>, as
      claimed by the company.</p>

      <p>The cocoa powder is then mixed with the hazelnuts along with sugar, vanillin
      and skim milk in a large tank until it becomes a paste-like spread.
      Modified palm oil is then added to help retain the solid phase of the
      <i>Nutella</i> at room temperature, which substitutes for the butter found in
      the cocoa bean. </p>

      <p>In addition, whey powder is added to the mix because it acts as a binder
        for the paste. Whey powder is an additive commonly used in spreads to prevent
        the coagulation of the product because it stabilizes the fat emulsions.
      Similarly to whey powder lecithin, which is a form of a fatty substance
      found in animal and plant tissues, is used to emulsify as it promotes
      homogenized mixing of the different ingredients allowing the paste to become
      spreadable.
      It also aids the lipophilic properties of the cocoa powder which, again,
      keeps the product from separating.
      Vanillin is added to enhance the sweetness of the chocolate.
      The finished product is then packaged.</p>
      <a href="#home">Home</a>

    </section>
    <section id="production">
      <h1 class="page-header">Production</h1>
      <p><i>Nutella</i> is produced in various facilities.</p>

      <p>In the North American market, it is produced at a plant in Brantford,
      Ontario in Canada and most recently in San José Iturbide, Guanajuato, Mexico.
      For Australia and New Zealand, <i>Nutella</i>  has been manufactured in Lithgow,
      New South Wales since the late 1970s.
      Two of the four Ferrero plants in Italy produce <i>Nutella</i> , in Alba, Piedmont,
      and in Sant'Angelo dei Lombardi in Campania.
      In France, a production facility is located in Villers-Écalles.
      For Eastern Europe (including Southeast Europe, Poland, Turkey, Czech Republic
      and Slovakia) and South Africa, it is produced in Warsaw and Manisa.
      For Germany and northern Europe, <i>Nutella</i>  is produced at the Ferrero
      plant in Stadtallendorf, which has been in existence since 1956.
      Ferrero also has a plant in Brazil, which supplies the Brazilian market, with
      part of the production being exported overseas.</p>

      <a href="#home">Home</a>

    </section>
    <section id="storage"><h1 class="page-header">Storage</h1>
    <p>
    The label states that <i>Nutella</i>  does not need to be refrigerated.
    This is because the large quantity of sugar in the product acts as a
    preservative to prevent the growth of microorganisms.
    More specifically the sugar acts as a preservative by binding the water in the
    product, which prevents the microorganisms from growing.</p>
    <h3>Don't refrigerate!</h3>
    <p>
    In fact, refrigeration causes <i>Nutella</i> to harden because it contains fats
    from the hazelnuts. When nut fats are placed in cold temperatures they become
    too hard to spread.
    Hazelnuts contain almost 91 percent monounsaturated fat, which are known to be
    liquid at room temperature and solidify at refrigerator temperatures.
    Room temperature allow the product to have a smooth and spreadable consistency
    because the monounsaturated oils from the hazelnut are liquid at this state.
    In addition, the palm oil used in <i>Nutella</i> does not require refrigeration
    because it contains high amounts of saturated fat and resists becoming rancid.
    Therefore, <i>Nutella</i> can be stored at room temperature in the cabinet
    without going rancid before the best before date.
    The remaining ingredients in <i>Nutella</i>, such as cocoa, skimmed milk powder,
    soy lecithin, and vanillin also do not require refrigeration.</p>

    <p>
      Hence, <i>Nutella</i> does not need to be put in the refrigerator after opening.</p>
    <a href="#home">Home</a>

    </section>

  </main>
</div>
