<div class="container">



<h1><strong>Nutrition</strong></h1>
<p>
<i>Nutella</i> contains 10.5 percent of saturated fat and 58% of processed
sugar by weight.A two-tablespoon (37 gram) serving of <i>Nutella</i> contains
200 calories including 99 calories from 11 grams of fat
(3.5g of which are saturated) and 80 calories from 21 grams of sugar.
The spread also contains 15 mg of sodium and 2g of protein per serving
(for reference a Canadian serving size is 1 tablespoon or 19 grams).</p>
<a href="../index.html">Home</a>
</div>
