<div class="container">
  <div class="col-lg-12">
    <h1 class="page-header">Portfolio  |
    <small>graphic design &amp; illustration</small></h1>

  </div>
</div>
<!--Projects Row  -->
<div class="row">
<!-- blue eaux claires poster -->
<div class ="col-md-2"></div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="assets/FINALEAUXCLAIRES.jpg" alt="festival poster" />
    </a>
  </div>
<!--large B&W Eaux Claires poster  -->
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="assets/EauxClairesBW.jpg" alt="black and white festival poster" />
    </a>
  </div>
<!--small B&W Eaux Claires  -->
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="assets/Eaux_Claires_BW2.jpg" alt="" />
    </a>
  </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">

<!--we are water pamphlet  -->
    <div class="col-md-3 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="assets/WEAreWaterRevisedjpg.jpg" alt="" />
      </a>
    </div>
<!-- Debussy book covers -->
    <div class="col-md-3 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="assets/book_covers.jpg" alt="" />
      </a>
    </div>
<!-- winter is the warmest season pastel -->
    <div class="col-md-3 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="assets/winterWarmest.jpg" alt="playing in snow pastel" />
      </a>
    </div>


</div>
